/*CAROUSEL*/

.carousel-index {

}

.caption-estilo {
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10%;
    padding: 5%;
}


/*MARKETING ICONS SECTION*/

.featurette-heading {
    font-weight: 400;
    line-height: 1;
    font-family: "Ubuntu",sans-serif;
}

.col-lg-4{
    text-align: center;
    margin-bottom: 1.5em;
}

.servicos-icones {

}

.servicos-icones h2{
    font-weight: 400;
    font-family: "Ubuntu",sans-serif;

}

.icone {
    background-color: #13bc5f;
}